
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# git
*.nogit

# python
venv
*.pyc

# notebooks


# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
_build
[Dd]ebug/
[Rr]elease/

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/